body {
  background-color: rgb(253 , 251 , 251);
  font-size: 20px;
  font-family: Verdana , Geneva , Tahoma , sans-serif;
  line-height: 2em;
  width: 100vw;
}

h1 , h2 , h3 , h4 {
  color: rgb(191 , 24 , 242);
}

#cabecalho {
  background-color: rgb(243 , 230 , 248);
  top: 0%;
  width: 100%;
  height: 135px;
  z-index: 1;
}

#cabecalho li {
  font-size: 30px;
  margin: 10px;
  margin-right: 40px;
  display: inline-block;
  color: black;
}

#cabecalho li:hover {
  color: rgb(191 , 24 , 242);
  font-size: 35px;
  transition: 0.5s;
}

#cabecalho a {
  text-decoration: none;
}

h1 {
  margin: 10px;
  text-align: center;
  padding: 5px;
}

#minha_foto {
  margin-top: 190px;
  border-radius: 90px;
  width: 250px;
}

.picture-container {
  text-align: center;
  background-color: rgb(248 , 243 , 231);
  padding-bottom: 120px;
}

.lessons-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.lesson-learned , .to_be_learned {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#licoes_aprendidas , #licoes_a_aprender {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 300px;
}

.tabela {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.tabela table {
  border: 5px solid darkgray;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.tabela th , td {
  color: rgb(191 , 24 , 242);
  border: 6px dashed;
  width: 40%;
  text-align: center;
}

.lado-esquerdo , .lado-direito {
  width: 45%;
  display: inline-block;
}

.lado-esquerdo {
  padding-right: 15px;
  border-right: 5px solid gray;
}

.lado-esquerdo p {
  text-align: justify;
  padding: 20px;
}

.lado-direito {
  position: absolute;
  margin-left: 35px;
}

.lado-direito p {
  text-align: justify;
}

.both-sides {
  background-color: whitesmoke;
  margin-bottom: -5px;
}

footer {
  border-top: 2px solid gray;
  text-align: center;
}

footer h1 {
  margin-top: 5px;
}

footer img {
  width: 80px;
}

.header-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.Logo {
  align-items: flex-end;
  display: flex;
  font-family: sans-serif;
  font-size: 15px;
  margin: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.Logo h1 {
  font-family: sans-serif;
  margin: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.header-container strong {
  color: rgb(76, 71, 71);
  font-family: sans-serif;
  font-size: 25px;
  margin-left: 10px;
  text-decoration: none;
}

.header-container a {
  text-decoration: none;
}

@media (max-width: 620px) {
  .lessons-container {
    display: block;
    text-align: center;
    width: 100%;
  }

  .header-container {
    display: block;
    text-align: center;
    width: 100vw;
  }

  #cabecalho {
    font-size: 0.7rem;
    height: 50px;
  }

  .lesson-learned , .to_be_learned {
    width: 100%;
    display: block;
    text-align: center;
  }

  #licoes_aprendidas , #licoes_a_aprender {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
  }

  .both-sides {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }

  .lado-direito {
    position: relative;
    margin-left: 0px;
    width: 100%;
  }

  .lado-esquerdo {
    padding-right: 0px;
    border-right: 0px solid gray;
    width: 100%;
  }
}


@media (max-width: 340px) {
  body {
    margin: 0px;
    padding: 0px;
    min-width: 315px;
  }

  .header-container {
    display: block;
    text-align: center;
    width: 100vw;
  }

  .Logo {
    padding-left: 40px;
    min-width: 315px;
  }
  
  #cabecalho {
    font-size: 0.7rem;
    height: 80px;
  }

  .picture-container {
    line-height: 0.5rem;
  }

  .lessons-container {
    display: block;
    text-align: center;
    width: 100%;
  }

  .lesson-learned , .to_be_learned {
    width: 100%;
    display: block;
    text-align: center;
  }

  #licoes_aprendidas , #licoes_a_aprender {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
  }

  .both-sides {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }

  .lado-direito {
    position: relative;
    margin-left: 0px;
    width: 100%;
  }

  .lado-esquerdo {
    padding-right: 0px;
    border-right: 0px solid gray;
    width: 100%;
  }
}